# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
.venv/
env/
venv/
*.log

# Node
frontend/node_modules/
node_modules/
frontend/dist/
dist/
.DS_Store

# SUMO temporary outputs
*.dump.xml
